body {	
	/*background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url("clan-symbols-no-words.png");
	background-size: cover;
	background attachment: fixed;
	background-position: center;
	font-size: 0.9em;
	overflow:auto;*/
	
	background-color: darkslategray;
}

h1 {
	color: gainsboro;
	font-size: 2.5em;
}

h2 {
	display: inline;
	color: lavender;
	font-size: 2.1em;
}


p {
	display: table; 
	color: lavender;
	background-color: darkmagenta;
	font-size: 1.9em;
}

p1 {
	display: table; 
	color: thistle;
	font-size: 1.9em;
}

p2 {
	display: table; 
	color: fuchsia;
	background-color: gainsboro;
	font-size: 1.9em;
}

tr:nth-child(even) {background-color: lightslategray;}
tr:nth-child(odd) {background-color: darkslategray;}
th{color:lavender}
td{color: lavender; height:75px; width:75px}
table{width: 100%; padding:50px; height:100px;}
#banner {
	width: 200px;
}



.row {
  display: flex;
  flex-wrap: wrap;
  padding:100px;
  height:700px;
  width:100%;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

}

a:link{ color: chocolate;
}
a:visited{color: green;
}
a:hover{ color: red;
}
